{% assign fName = include.name | default: "Barbecu Burger" %}
{% assign fPrice = include.price | default: "111,80" %}
{% assign fCount = include.count | default: "02" %}

<div class="cart-item">
    <span class="name">{{fName}}</span>
    <div class="row">
        <div class="col-5">
            <span class="price"><i class="svg-pound"></i>{{fPrice}}</span>
        </div>
        <div class="col-5">
            {% include quantity.html text=fCount %}
        </div>
        <div class="col-2">
            <button type="button" class="btn-plain btn-remove"><span class="icon svg-stop"></span><span class="sr-only">add one</span></button>
        </div>
    </div>
</div>