<!-- tag::oil-config[] -->
<script id="oil-configuration" type="application/configuration">
{
  "config_version": 4,
  "timeout": -1,
  "locale_url": "js/oil-js/myLocale.json",
  "poi_group_name": "MyGroupName",
  "publicPath": "js/oil-js/",
  "advanced_settings": true,
  "iabVendorWhitelist": [0],
  "show_limited_vendors_only": true
}

</script>
<!-- end::oil-config[] -->
<script type="text/javascript" src="js/oil-js/oilstub.1.2.5-RELEASE.min.js"></script>
<script type="text/javascript" src="js/oil-js/oil.1.2.5-RELEASE.min.js"></script>
