{% assign item = include.Item | default: site.data.components.FormProduct %}

{% assign uniqueNumber = "field_[x]_" | random %}
<form class="needs-validation" novalidate>
<fieldset class="">
    <legend>{{item.title}}</legend>
    {% for field in item.fields %}

    {% assign field_id = field.label | replace: ' ', '_' | url_encode | downcase | prepend: uniqueNumber %}
    {% assign validate_id = field_id | replace: 'field_', 'validate_' %}
    {% assign valid_attr = 'aria-describedby="set_id"' | replace: 'set_id', validate_id %}

    <div class="form-group">
        <label for="{{field_id}}">{{field.label}}</label>

        {% if field.type == 'text' or field.type == 'email' or field.type == 'number' or field.type == 'tel' %}
        <input id="{{field_id}}" class="form-control" type="{{ field.type }}" placeholder="{{field.placeholder}}" {{valid_attr}} required>
        <span class="invalid-feedback" id="{{validate_id}}">This is a validation message</span>
        {% endif %}

        {% if field.type == 'select' %}
        <div class="styled-select-dropdown">
            <select id="{{field_id}}" class="form-control" {{valid_attr}} required>
                <option value="">{{field.placeholder}}</option>
                <option value="1">Option One</option>
                <option value="2">Option Two</option>
                <option value="3">Option Three</option>
                <option value="4">Option Four</option>
            </select>
            <span class="invalid-feedback" id="{{validate_id}}">This is a validation message</span>
        </div>
        {% endif %}


        {% if field.type == 'textarea' %}
        <textarea id="{{field_id}}" class="form-control" rows="4" cols="48" placeholder="{{field.placeholder}}" {{valid_attr}} required></textarea>
        <span class="invalid-feedback" id="{{validate_id}}">This is a validation message</span>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{item.button}}</button>
</fieldset>
</form>
<script>


    // Example starter JavaScript for disabling form submissions if there are invalid fields
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {

                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        setTimeout(function () {
                            //document.querySelectorAll(".needs-validation .form-control:invalid")[0].scrollIntoView({behavior: 'smooth', block: 'start'});
                            document.querySelectorAll(".needs-validation.was-validated .form-control:invalid")[0].scrollIntoView({behavior: 'smooth', block: 'start'});
                        },200);
                    }else {
                        event.preventDefault();
                        event.stopPropagation();

                        if ($('#Fax_Number').val() == "") {
                            console("call ajax here");
                        }
                        else {
                            console("Robot is here");
                        }
                    }
                    form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>
