{% assign fText = include.text | default: "Menu Items" %}
{% assign fClass = include.class | default: "" %}

{% assign hideBack = "" %}
{% assign hideSettings = "" %}

{% if page.title == "Choose" %}
{% assign hideBack = "invisible" %}
{% endif %}
{% if page.title == "Settings" %}
{% assign hideSettings = "invisible" %}
{% endif %}
<header class="page-header">
    <a href="index.html" class="btn-plain btn-back {{hideBack}}"><span class="svg-arrow-back"></span><span class="sr-only">Back Button</span></a>
    <h1>{{fText}}</h1>
    <a href="settings.html" class="btn-plain btn-settings {{hideSettings}}"><span class="svg-settings"></span><span class="sr-only">Settings Button</span></a>
</header>