{% assign fActive = include.active | default: "no" %}
{% assign fName = include.name | default: "Barbecu Burger" %}
{% assign fDetail = include.detail | default: "Lorem ipsum is simply dummy" %}
{% assign fPrice = include.price | default: "111,80" %}
{% assign fCount = include.count | default: "02" %}

{% assign isActive = "" %}
{% assign buttonColour = "" %}
{% if fActive == "yes" %}
{% assign isActive = 'active' %}
{% assign buttonColour = 'white' %}
{% endif %}

<div class="menu-item-detail">
    <p><span>Name:</span> Cold hummus</p>
    <p><span>Category:</span>Cold_starters</p>
    <p><span>Price:</span> 15,90</p>
    <p><span>Sequence:</span> 1</p>
    <p><span>Type:</span> Normal item</p>
    <div class="buttons-wrapper">
        <button type="button" class="btn btn-plain edit"><span class="icon-edit-circle"></span><span class="sr-only">edit</span></button>
        <button type="button" class="btn btn-plain remove"><span class="icon-remove-circle"></span><span class="sr-only">remove</span></button>
        <button type="button" class="badge badge-dark smaller">Set options</button>
    </div>
</div>