<div class="ds-sprites-wrapper">
    <ul class="ds-sprites-list">
        <li><span class="svg-arrow-back"></span><span class="class-name">.svg-arrow-back</span></li>
        <li><span class="svg-chair"></span><span class="class-name">.svg-chair</span></li>
        <li><span class="svg-chef"></span><span class="class-name">.svg-chef</span></li>
        <li><span class="svg-clock"></span><span class="class-name">.svg-clock</span></li>
        <li><span class="svg-clock-white"></span><span class="class-name">.svg-clock-white</span></li>
        <li><span class="svg-details"></span><span class="class-name">.svg-details</span></li>
        <li><span class="svg-edit"></span><span class="class-name">.svg-edit</span></li>
        <li><span class="svg-info"></span><span class="class-name">.svg-info</span></li>
        <li><span class="svg-kitchen"></span><span class="class-name">.svg-kitchen</span></li>
        <li><span class="svg-minus"></span><span class="class-name">.svg-minus</span></li>
        <li><span class="svg-minus-circle"></span><span class="class-name">.svg-minus-circle</span></li>
        <li><span class="svg-minus-circle-white"></span><span class="class-name">.svg-minus-circle-white</span></li>
        <li><span class="svg-plus"></span><span class="class-name">.svg-plus</span></li>
        <li><span class="svg-plus-circle"></span><span class="class-name">.svg-plus-circle</span></li>
        <li><span class="svg-plus-circle-white"></span><span class="class-name">.svg-plus-circle-white</span></li>
        <li><span class="svg-plus-circle-yellow"></span><span class="class-name">.svg-plus-circle-yellow</span></li>
        <li><span class="svg-pound"></span><span class="class-name">.svg-pound</span></li>
        <li><span class="svg-pound-white"></span><span class="class-name">.svg-pound-white</span></li>
        <li><span class="svg-remove"></span><span class="class-name">.svg-remove</span></li>
        <li><span class="svg-settings"></span><span class="class-name">.svg-settings</span></li>
        <li><span class="svg-stop"></span><span class="class-name">.svg-stop</span></li>
        <li><span class="svg-table"></span><span class="class-name">.svg-table</span></li>
        <li><span class="svg-table-chair"></span><span class="class-name">.svg-table-chair</span></li>
        <li><span class="svg-table-chair-white"></span><span class="class-name">.svg-table-chair-white</span></li>
        <li><span class="svg-table-chair-yellow"></span><span class="class-name">.svg-table-chair-yellow</span></li>
        <li><span class="svg-tick-circle"></span><span class="class-name">.svg-tick-circle</span></li>
        <li><span class="svg-view"></span><span class="class-name">.svg-view</span></li>
    </ul>
</div>