{% assign fState = include.state | default: "occupied" %}

<div class="table-status {{fState}}">
    <div class="row">
        <div class="col-5">
            <span class="text"><span class="icon-table"></span> Table 01</span>
            <span class="text"><span class="icon-chair"></span> Seats: 4</span>
        </div>
        <div class="col-4">
            <span class="text"><span class="icon-info"></span> Occupied</span>
            <span class="text"><span class="icon-pound"></span> 55,90</span>
        </div>
        <div class="col-3">
            <span class="time">
                <span class="icon-clock"></span>
                <span class="text">1h 23m</span>
            </span>
        </div>
    </div>
</div>