<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>H1 Lorem Ipsum</h1>
                <h2>H2 Lorem Ipsum</h2>
                <h3>H3 Lorem Ipsum</h3>
                <h4>H4 Lorem Ipsum</h4>
                <h5>H5 Lorem Ipsum</h5>
                <h6>H6 Lorem Ipsum</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Aenean commodo</li>
                    <li>Consecteteur adipiscing elit</li>
                </ul>
            </div>
            <div class="col-sm-6 ds-buttons-box">
                <button type="button" class="btn btn-primary">Primary</button>
                <br><br>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <br><br>
                <button type="button" class="btn btn-success">Success</button>
                <br><br>
                <button type="button" class="btn btn-danger">Danger</button>
                <br><br>
                <button type="button" class="btn btn-warning">Warning</button>
                <br><br>
                <button type="button" class="btn btn-info">Info</button>
                <br><br>
                <button type="button" class="btn btn-light">Light</button>
                <br><br>
                <button type="button" class="btn btn-dark">Dark</button>
            </div>
        </div>
    </div>
</section>