.jekyll-metadata
_site/
.sass-cache/
.jekyll-metadata
package-lock.json
Gemfile.lock
yarn.lock
.idea/
node_modules/
/.vs
CMS/
css/*default*.css
css/*.map
js/*.parsed.js
css/patterns.css
css/presentation.css