---
layout: global
title: Check Orders
presentation: 'no'
---
{% include header.html text="Check Order" %}

{% include button-action.html icon="icon-table-chair" class="badge badge-border-only" text="Table 03" %}
{% include cart-item.html %}
{% include cart-item.html %}
{% include cart-item.html %}
<div class="form-group">
    <label for="fieldTextArea" class="sr-only">notes</label>
    <textarea class="form-control" id="fieldTextArea" placeholder="Type your notes..."></textarea>
</div>
<div class="form-group">
    <div class="single-checkbox-style">
        <input type="checkbox" id="customCheckbox" name="customCheckbox" class="custom-control-input">
        <label class="checkbox-label" for="customCheckbox">Takeaway order</label>
    </div>
</div>
<div class="row smaller-gap narrow-buttons">
    <div class="col-6">
        <button type="button" class="btn btn-white">Add more</button>
    </div>
    <div class="col-6">
        <span class="btn btn-light">Total: 335,90</span>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-white">Cancel</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary">Order</button>
    </div>
</div>