---
layout: global
title: History Order
presentation: 'no'
---
{% include header.html text="Orders" %}
{% include button-action.html icon="svg-table-chair" class="btn-light" text="Table 03" %}
<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-white">Active</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-dark">History</button>
    </div>
</div>
{% include order-details.html %}
<span class="btn btn-light no-bg">Total Amount: 15,90</span>
<button type="button" class="btn btn-white">Clear Table</button>
{% include button-action.html icon="svg-plus-circle" class="btn-white" text="Add more" %}
