---
layout: global
title: Design System
presentation: 'yes'
###################################
# This page shows link for all the pages in this project
###################################
separateTemplatePages: true
TemplatePages:
 - name: "standard-content.html"
---
<span class="ds-h4">Input fields</span>
<div class="login-form">
 {% include input-field.html placeholder="Email" type="email" %}
 {% include input-field.html placeholder="Password" type="password" %}
</div>
<span class="ds-h4">Checkbox fields</span>
{% include checkbox.html type="checkbox" text="Online" %}
{% include checkbox.html type="checkbox" text="Online" Checked="yes" %}
<span class="ds-h4">Buttons</span>
<button type="button" class="btn btn-primary">Primary</button>
<br/><br/>
<button type="button" class="btn btn-secondary">Secondary</button>
<br/><br/>
<button type="button" class="btn btn-success">Success</button>
<br/><br/>
<button type="button" class="btn btn-danger">Danger</button>
<br/><br/>
<button type="button" class="btn btn-warning">Warning</button>
<br/><br/>
<button type="button" class="btn btn-info">Info</button>
<br/><br/>
<button type="button" class="btn btn-light">Light</button>
<br/><br/>
<button type="button" class="btn btn-dark">Dark</button>
<span class="ds-h4">Shadow Box</span>
{% include shadow-box.html icon="svg-kitchen" text="Kitchen Icon" %}
{% include shadow-box.html icon="svg-table-chair-yellow" text="table chair yellow" %}
