---
layout: global
title: Design System
presentation: 'yes'
###################################
# This page shows link for all the pages in this project
###################################
separateTemplatePages: true
TemplatePages:
 - name: "standard-content.html"
---
<span class="ds-h4">Input fields</span>
<div class="login-form">
 {% include input-field.html placeholder="Email" type="email" %}
 {% include input-field.html placeholder="Password" type="password" %}
</div>
<span class="ds-h4">Checkbox fields</span>
{% include checkbox.html type="checkbox" text="Online" %}
{% include checkbox.html type="checkbox" text="Online" Checked="yes" %}
<span class="ds-h4">Buttons</span>
<button type="button" class="btn btn-primary">Primary</button>
<br/><br/>
<button type="button" class="btn btn-secondary">Secondary</button>
<br/><br/>
<button type="button" class="btn btn-success">Success</button>
<br/><br/>
<button type="button" class="btn btn-danger">Danger</button>
<br/><br/>
<button type="button" class="btn btn-warning">Warning</button>
<br/><br/>
<button type="button" class="btn btn-info">Info</button>
<br/><br/>
<button type="button" class="btn btn-light">Light</button>
<br/><br/>
<button type="button" class="btn btn-dark">Dark</button>
<span class="ds-h4">Shadow Box</span>
{% include shadow-box.html icon="svg-kitchen" text="Kitchen Icon" %}
{% include shadow-box.html icon="svg-table-chair-yellow" text="table chair yellow" %}
<span class="ds-h4">Rooms</span>
{% include room.html colour="bg-pink" text="Table 01" %}
{% include room.html colour="bg-green" text="Table 03" %}
{% include room.html colour="bg-blue" text="Table 11" %}
{% include room.html colour="bg-black" text="Table 07" %}
<span class="ds-h4">Menu Items</span>
<div class="row">
 <div class="col-6">
  {% include menu-item.html %}
 </div>
</div>
<span class="ds-h4">Buttons with icon</span>
{% include button-action.html %}
<br/>
{% include button-action.html icon="svg-table-chair" class="btn-light" text="Table 03" %}
<span class="ds-h4">Ordered Item</span>
{% include ordered-item.html active="yes" %}
<br/>
{% include ordered-item.html name="Hamdog" %}
<br/>
{% include cart-item.html %}