---
layout: global
title: Restaurant App
presentation: 'yes'
###################################
# This page shows link for all the pages in this project
###################################
separateTemplatePages: false
TemplatePages:
 - name: "standard-content.html"
---
<nav class="ds-widgets-list">
 <div class="container">
  <ul class="flex-column">
   {% assign pluginsCount = site.data.plugins.items | size %}
   {% assign pages = site.html_pages | sort: 'path' %}

   {% for file in pages %}

   {% assign filteredList = site.data.config.excludePagesFromIndexList | where:"name", file.path %}
   {% assign filterCount = filteredList | size %}

   {% if page.separateTemplatePages == true %}
   {% assign templateList = page.TemplatePages | where:"name", file.path %}
   {% assign templateCount = templateList | size %}
   {% else %}
   {% assign templateCount = 0 %}
   {% endif %}

   {% if filterCount == 0 and templateCount == 0 %}

   {% assign page-name = file.path | replace: '.html', '' | replace: '-', ' '%}

   {% assign widgetsClass = '' %}
   {% if page-name == 'widgets' and pluginsCount == 0 %}
   {% assign widgetsClass = ' d-none' %}
   {% endif %}

   <li class="nav-item {{widgetsClass}}"><a class="nav-link" href="{{ file.path }}">{{ page-name | capitalize }}</a></li>

   {% endif %}
   {% endfor %}

   {% if page.separateTemplatePages == true %}
   <!-- LIST Base template pages -->
   <li style="list-style: none;"><br/><b>HTML pages from Base template</b><br/><br/></li>

   {% for file in pages %}

   {% assign templateList = page.TemplatePages | where:"name", file.path %}
   {% assign templateCount = templateList | size %}

   {% if templateCount == 1 %}
   {% assign page-name = file.path | replace: '.html', '' | replace: '-', ' '%}
   {% assign page-name = page-name | replace: 'bs ', 'Bootstrap '%}

   <li class="nav-item"><a class="nav-link" href="{{ file.path }}">{{ page-name | capitalize }}</a></li>

   {% endif %}
   {% endfor %}
   {% endif %}
  </ul>
 </div>
</nav>