---
layout: global
title: New order
presentation: 'no'
---
{% include header.html text="New orders" %}
{% include button-action.html icon="icon-table-chair" class="badge badge-border-only" text="Table 03" %}


<div class="row menu-items-row">
    <div class="col-6">
        {% include menu-item.html %}
    </div>
    <div class="col-6">
        {% include menu-item.html %}
    </div>
    <div class="col-6">
        {% include menu-item.html %}
    </div>
    <div class="col-6">
        {% include menu-item.html %}
    </div>
    <div class="col-6">
        {% include menu-item.html %}
    </div>
    <div class="col-6">
        {% include menu-item.html %}
    </div>
</div>
<button type="button" class="btn btn-white">Clear Table</button>