---
layout: global
title: Order Detail
presentation: 'no'
---
{% include header.html text="Order details" %}

{% include button-action.html icon="svg-table-chair" class="badge badge-border-only" text="Table 11" %}

<div class="row smaller-gap">
    <div class="col-6">
        <button type="button" class="badge badge-dark">2857061</button>
    </div>
    <div class="col-6">
        <button type="button" class="badge badge-dark"><span class="svg-pound-white"></span>15,90</button>
    </div>
    <div class="col-12">
        <button type="button" class="badge badge-dark"><span class="svg-clock-white"></span>Waiting since 0h 23m</button>
    </div>
</div>
{% include item-details.html item=site.data.content.itemHeadings colour="heading" %}
{% include item-details.html %}
{% include item-details.html item=site.data.content.itemDetail02 %}

<div class="row smaller-gap">
    <div class="col-6">
        <button type="button" class="btn btn-light">Print</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary">Accept order</button>
    </div>
</div>

<button type="button" class="btn btn-white">Close</button>