---
layout: global
title: Order Detail Supply
presentation: 'no'
---
{% include header.html text="Order details" %}

{% include button-action.html icon="icon-table-chair" class="badge badge-border-only" text="Table 11" %}

<div class="row smaller-gap narrow-buttons">
    <div class="col-6">
        <button type="button" class="badge badge-dark">2857061</button>
    </div>
    <div class="col-6">
        <button type="button" class="badge badge-dark"><span class="icon-pound"></span>15,90</button>
    </div>
    <div class="col-12">
        <button type="button" class="badge badge-dark"><span class="icon-clock"></span>Waiting since 0h 23m</button>
    </div>
</div>
{% include item-details.html item=site.data.content.itemHeadings colour="heading" %}
{% include item-details.html item=site.data.content.itemSupply01 colour="supply" %}
{% include item-details.html item=site.data.content.itemSupply02 colour="supply" %}
<div class="row smaller-gap">
    <div class="col-6">
        <button type="button" class="btn btn-light">Print</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary">Supply order</button>
    </div>
</div>

<button type="button" class="btn btn-white">Close</button>