---
layout: global
title: Table Status View C
presentation: 'no'
wrapperClass: "screen-tables"
---
{% include header.html text="Table status" %}
{% include button-action.html class="badge badge-white" %}
<div class="row smaller-gap vertical-center">
    <div class="col-5">
        <h2>Map</h2>
    </div>
    <div class="col-7">
        <div class="buttons-wrap">
            <span class="zoom-level">50%</span>
            <div class="btn-group" role="group" aria-label="Adjust zoom">
                <button type="button" class="badge badge-white"><span class="icon-minus"></span><span class="sr-only">Minus button</span></button>
                <button type="button" class="badge badge-white"><span class="icon-plus"></span><span class="sr-only">Plus button</span></button>
            </div>
        </div>
    </div>
</div>
<img src="images/canvas-placeholder.png" alt="canvas plalceholder">