---
layout: global
title: Table Status
presentation: 'no'
---
<h1>TEST</h1>
<br/>
{% include button-action.html icon="svg-table-chair" class="badge badge-border-only" text="Table 03" %}
<br/>
<button class="btn btn-white">Clear Table</button>
<br/>
{% include button-action.html icon="svg-plus-circle" class="btn btn-white" text="Add more" %}
<br/>
<button class="btn btn-light no-bg">Total Amount: 15,90</button>
<br/>
<button class="badge badge-dark">Waiting since 0h 23 min</button>
<br/>
<div class="row">
    <div class="col-6">
        <button class="btn btn-white">Add more</button>
    </div>
    <div class="col-6">
        <button class="btn btn-light">Total 33590</button>
    </div>
    <div class="col-6">
        <button class="btn btn-white">Cancel</button>
    </div>
    <div class="col-6">
        <button class="btn btn-primary">Accept Order</button>
    </div>
</div>
<br/>
<button class="btn btn-secondary">Login</button>
<br/>
{% include button-action.html class="badge badge-white" %}
<br/>
<button class="badge badge-white">History</button>
<br/>
<button class="badge badge-dark">2857061</button>