<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--List of folders required in new plugin, comma seperated list-->
    <add key="TemplateFileName" value="family-template.html" />
    <!--Output Folder Name-->
    <add key="OutputFolderName" value="builds" />
    <!--License Key-->
    <add key="LicenceKey" value="" />
    <!--Image Storage Location-->
    <!--Folder to store local images. All images inserted into the editor will be copied to this folder.-->
    <add key="ImageStorageLocation" value="images" />
  </appSettings>
</configuration>