@mixin fixLines($lines,$line-height,$overrideLines: 0,$setMinimumHeight: 0) {
  @if $overrideLines == 0 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: $line-height*$lines; /* fallback */
    -webkit-line-clamp: $lines; /* number of lines to show */
    -webkit-box-orient: vertical;
    @if $setMinimumHeight != 0 {
      min-height: $line-height*$lines;
    }
  } @else {
    max-height: $line-height*$overrideLines;
    -webkit-line-clamp: $overrideLines; /* number of lines to show */
    @if $setMinimumHeight != 0 {
      min-height: $line-height*$lines;
    }
  }
}

.ds-plugin-title {
  background: $sg-secondary !important;
  color: $white !important;
  text-align: center !important;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 1.5rem !important;
  text-transform: capitalize;
  &:first-of-type {
    margin-top: 0;
  }
  > a {
    color: $white !important;
  }
}

// Footer
.ds-footer {
  padding: 15px 0;
  display: none !important;
  a.designed-by {
    color: $sg-primary;
    &.external-link {
      &:after {
        display: none;
      }
    }
  }
}

.ds-iframed {
  &.modal-open {
    min-height: 480px;
  }
}

.ds-spot-variation {
  background-color: $sg-light;
  padding: 30px 0;
}

.ds-variation-box {
  padding: 30px 0;
  display: block;
  font-weight: bold;
  p {
    margin-bottom: 10px;
    a {
      font-size: 1.125rem !important;
    }
  }
}

.standard-content {
  h3 {
    &.bs-sample,
    &.example {
      background: $sg-secondary !important;
      color: $white;
      padding: 10px 8px;
      margin-bottom: 15px;
      @media screen and (max-width: $screen-xs) {
        margin-bottom: 10px;
      }
    }
  }
}

.ds-sandbox-title {
  background: $sg-light !important;
  color: $white !important;
  text-align: center !important;
  padding: 10px 0;
  margin: 0;
  font-size: 1.5rem !important;
  text-transform: capitalize;
}

.ds-widgets-list {
  li > a {
    display: inline-block !important;
    margin-bottom: 8px !important;
    padding: 0.5rem 0 !important;
  }
  .ds-sandbox-title {
    background: $sg-light !important;
    color: $white !important;
    text-align: center !important;
    padding: 10px 0;
    margin: 0;
    font-size: 1.5rem !important;
    text-transform: capitalize;
  }
}

.ds-buttons-box {
  .btn {
    min-width: 100px;
  }
}

.ds-sprites-wrapper {
  background: transparent;
  .ds-sprites-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    li {
      margin: 0;
      float: left;
      padding: 100px 10px 10px;
      line-height: 1.4 !important;
      text-align: center;
      background-color: #d1d1d1;
      border: 1px solid #ffffff;
      width: 15%;
      font-size: 0.75rem !important;
      position: relative;
      height: 160px;
      @media screen and (max-width: $screen-xs) {
        width: 50%;
      }
      span {
        display: block;
        padding: 0;
        &[class*="svg-"] {
          display: block;
          margin: auto;
          position: absolute;
          top: -15px;
          right: 0;
          bottom: 0;
          left: 0;
        }
        &.class-name {
          font-size: 0.75rem !important;
          display: block;
          text-align: center;
          word-wrap: break-word;
          word-break: break-all;
          //margin: 5px 0 0;
          margin: auto;
          position: absolute;
          top: 120px;
          right: 0;
          bottom: auto;
          left: 0;
        }
      }
    }
  }
}

.ds-color-palette {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  @media screen and (max-width: $screen-xs) {
    margin: 10px -5px 15px;
  }
  li {
    vertical-align: top;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    width: 160px;
    margin: 15px 15px 15px 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid $sg-tertiary;
    padding: 5px;
    @media screen and (max-width: $screen-xs) {
      margin: 0 10px 10px 0;
      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
    .color-code,
    .color-name {
      display: block;
      padding: 0 10px;
    }
    .circle {
      display: block;
      height: 100px;
      width: 100%;
      margin-bottom: 4px;
    }
    .color-name {
      margin-top: 6px;
      font-size: 0.8rem !important;
      line-height: 20px !important;
      font-weight: 700;
      @include fixLines(2, 20px, 0, 1);
    }
    .color-code {
      font-size: 0.875rem !important;
      line-height: 18px !important;
      color: $sg-secondary;
      margin-bottom: 6px;
      text-transform: uppercase;
    }
  }
}

#ds-home-link {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 8px 13px;
  color: $sg-primary;
  font-size: 2rem !important;
  z-index: 999999999999;
  width: 60px;
  height: 60px;
  @media screen and (max-width: $screen-xs) {
    width: 30px;
    height: 30px;
    padding: 3px 6px;
    top: auto;
    bottom: 10px;
    left: 10px;
    font-size: 1rem !important;
  }
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.7);
    color: $white;
  }
  @media print {
    display: none !important;
  }
}

.not-iframed {
  #ds-home-link {
    display: block;
    @media screen and (max-width: $screen-xs) {
      display: block;
    }
  }
  .ds-footer {
    display: block !important;
  }
  main {
    min-height: 850px;
    max-width: none; //initial;
    @media screen and (max-width: $screen-xs) {
      min-height: 550px;
    }
  }
}

.ds-padding {
  padding: 30px 15px !important;
}

.ds-h4 {
  display: block;
  margin: 15px 0 15px;
  color: #000000;
  font-size: 20px !important;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 29px !important;
  text-transform: uppercase;
}

.ds-text-styles > .btn {
  margin-bottom: 25px;
  @media screen and (max-width: $screen-xs) {
    margin-bottom: 20px;
  }
}
section > .ds-h4 {
  display: block;
  max-width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

.ds-sprites-list.iconmoon {
  li {
    padding-top: 30px !important;
    span[class*="icon-"] {
      display: inline-block !important;
      margin-bottom: 30px !important;
    }
  }
}