/*
It's a temporary CSS only for presentation of HTML page.
It shouldn't be included in the actual project
*/

$screen-xs: 640px;
$screen-sm: 641px;
$screen-md: 1199px;

$white: #ffffff;
//Colors
$brand-color: #2a7ae2;
$sg-primary: #222222;
$sg-secondary: #808080;
$sg-tertiary: #dddddd;
$sg-light: #eeeeee;
/* Defaults */
$sg-space: 1em;
$sg-pad: 1em;
/* Breakpoints */
$sg-bp-small-2: 480px;

@import "styleguide-specific";
@import "syntax-highlighting";
@import "presentation";