---
---
{% strip %}
{% assign plugins = site.data.plugins.items %}
{% assign hideHomeLinkClass = 'ds-home-link' %}
{% assign PresentationCSS = 'yes' %}
{% if page.presentation == 'no' %}
{% assign PresentationCSS = 'no' %}
{% assign hideHomeLinkClass = 'd-none' %}
{% endif %}

{% assign isOfflinePage = "no" %}
{% if page.title == "Offline" %}
{% assign isOfflinePage = "yes" %}
{% endif %}

{% assign isDesign = "no" %}
{% if page.title == "Design System" %}
{% assign isDesign = "yes" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <title>Restaurant {{page.title}}</title>
    {% if PresentationCSS == 'yes' %}
    <!--It's temporary CSS only for presentation of HTML page. It should be excluded from actual project Kentico/CMS -->
    <!--If you want to remove any page then add this "presentation: 'yes'" to your page  between liquid tags -->
    <link href="css/patterns.css" rel="stylesheet"/>
    {% endif %}
    <link href="css/all.css" rel="stylesheet"/>
</head>
<body>
<div class="mobile-box">
    {% if isDesign == "yes" %}
    <div class="container-fluid">
        <h1>Design System</h1>
        {{content}}
    </div>
    {% else %}
    {% if page.title == "Login" %}
        {{content}}
    {% else %}
    <div class="inner-wrapper">
        <div class="container-fluid">
            {{content}}
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% if isDesign == "yes" %}
<div class="container-fluid">
    <span class="ds-h4">Sprite Icons</span>
    {% include sprite.html %}
</div>
{% endif %}
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endstrip %}