//code from MU
$thick: 2px;
$color: white; //#f26522;
.portfolio-experiment {
  background: #2d2d2d;
  padding: 75px;
}
.animation-anchor {
  border: none !important;
  display: inline-block;
  position: relative;
  color: white;
  padding: 12px 15px;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
  &:after {
    display: none !important;
  }
  .text {
    display: inline-block;
    position: relative;
    @include x-rem(font-szie, 22px);
    color: white;
    &:after {
      pointer-events: none;
      transition: transform 0.08s linear 0.13s;
      transform: scale3d(1, 0, 1);
    }
  }
  .line {
    position: absolute;
    background: $color;
    &.-right,
    &.-left {
      width: $thick;
      bottom: 0;
      top: 0;
      transform: scale3d(1, 1, 1);
    }
    &.-top,
    &.-bottom,
    &.-bottom-hover {
      height: $thick;
      left: 0;
      right: 0;
      transform: scale3d(1, 1, 1);
    }
    &.-right {
      right: 0;
      transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.71s;
      transform-origin: top;
    }
    &.-top {
      top: 0;
      transition: transform 0.08s linear 0.56s;
      transform-origin: left;
    }
    &.-left {
      left: 0;
      transition: transform 0.08s linear 0.43s;
      transform-origin: bottom;
    }
    &.-bottom {
      bottom: 0;
      transition: transform 0.08s linear 0.23s;
      transform-origin: right;
    }
    &.-bottom-hover {
      bottom: 8px;
      transition: transform 0.08s linear 0.13s;
      transform-origin: right;
      transform: scale3d(1, 0, 1);
      width: calc(100% - 30px);
      margin: auto;
    }
  }
  &:hover,
  &:active {
    color: white;
    text-decoration: none;
    .text {
      &:after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: $white;
        transition: transform 1.08s linear 0.6s;
        transform: scale3d(1, 1, 1);
      }
    }
    .line {
      transform: scale3d(1, 0, 1);
      &.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: top;
      }
      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: left;
        transform: scale3d(0, 1, 1);
      }
      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: bottom;
      }
      &.-bottom {
        transition: transform 0.08s linear 0.56s;
        transform-origin: right;
        transform: scale3d(0, 1, 1);
      }
      &.-bottom-hover {
        transition: transform 0.08s linear 0.6s;
        transform-origin: right;
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
/*Spinner Animation Loading CSS*/
$spinner-color: $deep-sky-blue;
$background-color: transparent;
$animation-speed: 1s;
$spinner-size: 80px; //diameter of spinner
$spinner-thickness: 5px;
$style: 1; //there two options either "1" or "2"
@keyframes loading-wrapper {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-wrapper div {
  position: absolute;
  animation: loading-wrapper $animation-speed linear infinite;
  width: $spinner-size;
  height: $spinner-size;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  @if $style == 1 {
    box-shadow: 0 $spinner-thickness 0 0 $spinner-color;
    transform-origin: $spinner-size/2 ($spinner-size/2)+2;
  }
  @if $style == 2 {
    border: $spinner-thickness solid;
    border-color: $spinner-color transparent $spinner-color transparent;
  }
}
.loading-spinner-rolling {
  width: $spinner-size+40px;
  height: $spinner-size+40px;
  display: inline-block;
  overflow: hidden;
  background: $background-color;
}
.loading-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading-wrapper div {
  box-sizing: content-box;
}
