.custom-switch {
  padding: 0;
  .custom-control-label {
    padding-right: 60px;
    font-size: 23px;
    font-weight: 400;
    color: $textColor;
    &:after,
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      display: block;
      margin: auto;
    }
    &:before {
      width: 55px;
      height: 31px;
    }
    &:after {
      width: 18px;
      height: 18px;
      right: 8px;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &:after {
      transform: none;
      right: 30px;
      background-color: $white;
    }
  }
}

.mobile-box {
  padding: 50px 0;
  max-width: 360px;
  margin: auto;
}

*[class*="svg-"] {
  display: inline-block;
}
.square-box {
  display: inline-block;
  min-width: 302px;
  width: 100%;
  min-height: 286px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: $white;
  position: relative;
  span[class*="svg-"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}