@media screen and (min-width: $screen-sm) {
  .mobile-box {
    padding: 0 0 100px;
    max-width: 375px;
    margin: 0 auto 0 60px;
    background-color: $lightBg;
  }
}
body {
  background-color: $lightBg;
  .btn {
    min-width: 100%;
  }
  /*.container-fluid {
    padding-right: 36px;
    padding-left: 36px;
  }*/
}
.custom-switch {
  padding: 0;
  .custom-control-label {
    padding-right: 60px;
    font-size: 23px;
    font-weight: 400;
    color: $textColor;
    &:after,
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      display: block;
      margin: auto;
    }
    &:before {
      width: 55px;
      height: 31px;
    }
    &:after {
      width: 18px;
      height: 18px;
      right: 8px;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &:after {
      transform: none;
      right: 30px;
      background-color: $white;
    }
  }
}

*[class*="svg-"] {
  display: inline-block;
}

.square-box {
  display: inline-block;
  min-width: 302px;
  width: 100%;
  min-height: 286px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: $white;
}

.choose-box {
  min-width: 302px;
  width: 100%;
  min-height: 286px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: $white;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    .icon {
      display: block;
      margin-bottom: 10px;
    }
    .text {
      display: block;
      margin: 0;
      text-align: center;
      color: $textColor;
      font-family: $ffOpenSans;
      font-size: 30px;
      font-weight: 300;
      line-height: 35px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}