.btn {
  min-width: 100%;
  margin-bottom: 10px;
  &.btn-primary {
    min-width: 100%;
  }
  &.btn-secondary {
    color: $white;
  }
  &.btn-light {
    border: 1px solid $primary;
    background-color: $white;
    color: $primary;
    &.no-bg {
      background-color: transparent;
    }
  }
  &.btn-white {
    border: 1px solid $greyC4;
    background-color: $white;
    color: $textColor;
  }
}

.badge {
  min-width: 100%;
  line-height: 1.1;
  margin-bottom: 10px;
  border: none;
  &.badge-primary {
    min-width: 100%;
  }
  &.badge-secondary {
    color: $white;
  }
  &.badge-light {
    border: 1px solid $primary;
    background-color: $white;
    &.no-bg {
      background-color: transparent;
    }
  }
  &.badge-white {
    border: 1px solid $greyC4;
    background-color: $white;
  }
  &.badge-border-only {
    background-color: transparent;
    border: 1px solid $greyText;
    color: $greyText;
  }
  &.smaller {
    padding: 5px 8px;
  }
}

.btn,
.badge {
  *[class*="svg-"] {
    vertical-align: middle;
    margin-top: -3px;
  }
}

.custom-switch {
  padding: 0;
  margin-bottom: 25px;
  .custom-control-label {
    padding-right: 60px;
    font-size: 23px;
    font-weight: 300;
    color: $textColor;
    &:after,
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      display: block;
      margin: auto;
    }
    &:before {
      width: 55px;
      height: 31px;
    }
    &:after {
      width: 18px;
      height: 18px;
      right: 8px;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &:after {
      transform: none;
      right: 30px;
      background-color: $white;
    }
  }
}

.custom-control.custom-radio {
  display: inline-block;
  label {
    color: $textColor;
    font-family: $ffOpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
  }
}

.form-control {
  text-align: center;
}