.btn {
  min-width: 100%;
  &.btn-primary {
    min-width: 100%;
  }
  &.btn-secondary {
    color: $white;
    text-transform: uppercase;
  }
  &.btn-light {
    border: 1px solid $primary;
    background-color: $white;
    color: $primary;
    &.no-bg {
      background-color: transparent;
    }
  }
  &.btn-white {
    border: 1px solid $greyC4;
    background-color: $white;
    color: $textColor;
  }
}

.badge {
  min-width: 100%;
  line-height: 1.1;
  border: none;
  &.badge-primary {
    min-width: 100%;
  }
  &.badge-secondary {
    color: $white;
  }
  &.badge-light {
    border: 1px solid $primary;
    background-color: $white;
    &.no-bg {
      background-color: transparent;
    }
  }
  &.badge-white {
    border: 1px solid $white;
    background-color: $white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  &.badge-border-only {
    background-color: transparent;
    border: 1px solid $greyText;
    color: $greyText;
  }
  &.smaller {
    padding: 5px 8px;
    font-family: $ffOpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
}

.btn,
.badge {
  *[class*="svg-"] {
    vertical-align: middle;
    margin: -3px 5px 0 0;
  }
}

.custom-switch {
  padding: 0;
  .custom-control-label {
    padding-right: 60px;
    font-size: 23px;
    font-weight: 300;
    color: $textColor;
    &:after,
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      display: block;
      margin: auto;
    }
    &:before {
      width: 55px;
      height: 31px;
    }
    &:after {
      width: 18px;
      height: 18px;
      right: 8px;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &:after {
      transform: none;
      right: 30px;
      background-color: $white;
    }
  }
}

.custom-control.custom-radio {
  display: inline-block;
  label {
    color: $textColor;
    font-family: $ffOpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
  }
}

.form-control {
  text-align: center;
}
textarea.form-control {
  text-align: left;
  min-height: 129px;
  border-radius: 8px;
  border: 1px solid $greyText;
  background-color: $lightBg;
  color: $greyText;
  font-family: $ffOpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.smaller-gap {
  div[class*="col-"] {
    &:nth-of-type(odd) {
      padding-right: 5px;
    }
    &:nth-of-type(even){
      padding-left: 5px;
    }
  }
}


//Gaps
.btn,
.badge,
.choose-box,
.square-box,
.room-table,
.menu-item-detail,
.order-detail,
.page-header,
.table-status,
.ordered-items-details,
.buttons-wrap,
.cart-item,
.ordered-item,
.custom-switch {
  margin-bottom: 30px;
}