//to remove shadow from iOS device
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]),
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//to avoid screen zooming on mobile device when we click in input fields
// @media screen and (-webkit-min-device-pixel-ratio:0) {
//   select,
//   textarea,
//   //handles all inputs except checkbox,buttons etc
//   input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=button]) {
//     //font-size: 1rem !important;
//     &:focus,
//     &:active {
//       //font-size: 1rem !important;
//     }
//   }
// }


@media screen and (max-width: $screen-xs) {
  .container {
    max-width: $max-container;
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $min-width-on-scaled-down) {
  html {
    min-width: $min-width-on-scaled-down !important;
    width: 100% !important;
  }
  body {
    > *,
    main > *:not(.container) {
      min-width: $min-width-on-scaled-down !important;
      width: 100% !important;
    }
  }
}

/* Portrait */
@media only screen and (min-device-width: $mac-port) and (max-device-width: $mac-land) and (orientation: portrait) {
  body {
    //if page height is less than 1570 than page is not scaled down properly
    min-height: 1570px !important;
  }
}

/* Landscape */
@media only screen and (min-device-width: $mac-port) and (max-device-width: $mac-land) and (orientation: landscape) {
  body {
    //if page height is less than 860 than page is not scaled down properly
    min-height: 860px !important;
  }
}

.centered-image {
  overflow: hidden;
  img {
    position: relative;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

$wider: 1884px;
.no-overflow {
  overflow: hidden;
  @media screen and (min-width: $screen-sm) and (max-width: $wider) {
    overflow: hidden;
  }
}

.container-wide {
  width: $wider;
  max-width: $wider;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media screen and (min-width: $screen-sm) and (max-width: $wider) {
    left: 50% !important;
    transform: translateX(-50%);
  }
  @media screen and (max-width: $screen-xs) {
    width: 100%;
    max-width: 480px;
  }
}

input[type="text"]::-ms-clear {
  display: none;
}

.std-form {
  label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    font-weight: bold;
  }
  input.form-control {
    padding: 0.344rem 0.75rem;
  }
  .checkbox {
    label {
      font-weight: normal;
      cursor: pointer;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}

.loading-app {
  min-height: 600px;
  cursor: wait;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    background: url("imgs/loading.gif") no-repeat center center;
  }
}

.carousel {
  .carousel-indicators li {
    position: relative;
    box-sizing: border-box;
    button {
      &:active,
      &:focus{
        outline: 5px auto -webkit-focus-ring-color;
      }
    }
  }
  .play-pause {
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}