/*
.bg-pink {
  background-color: $primary;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $secondary;
}
.bg-black {
  background-color: $textColor;
}
*/
.btn-plain {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.room-table {
  width: 88px;
  min-height: 89px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: $white;
  padding: 14px 8px;
  text-align: center;
  margin: 0 15px 20px 0;
  display: inline-block;
  font-family: $ffOpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  span {
    display: inline-block;
    &[class*="svg-"] {
      margin-bottom: 5px;
    }
  }
  &.free {
    background-color: $green;
  }
  &.kitchen {
    background-color: $greyText;
  }
  &.ready {
    background-color: $secondary;
  }
  &.occupied {
    background-color: $primary;
  }
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.menu-item {
  display: inline-block;
  .media-box {
    position: relative;
    img {
      border-radius: 50%;
      display: block;
      width: 100%;
      height: auto;
    }
    .icon {
      background-color: transparent;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      display: block;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        margin: auto;
        @include svg-plus-circle-yellow;
      }
    }
  }
  .name {
    display: block;
    color: $greyText;
    font-family: $ffOpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}

.btn-icon {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px 20px;
  color: $greyText;
  font-family: $ffOpenSans;
  font-size: 19px;
  font-weight: 400;
  .icon {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
  }
}

.quantity {
  font-size: 0;
  margin: 20px 0 0;
  .btn-plain,
  .text {
    vertical-align: middle;
    display: inline-block;
  }
  .btn-plain {
    .icon {
      &.btn-minus {
        @include svg-minus-circle;
      }
      &.btn-plus {
        @include svg-plus-circle;
      }
    }
  }
}
.cart-item,
.ordered-item {
  padding: 13px 12px 10px;
  min-height: 88px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: $white;
  margin-bottom: 30px;
  .column-one {
    padding-right: 0;
  }
  .column-two {
    padding: 0 6px;
    text-align: right;
  }
  span {
    display: block;
    color: $greyText;
    font-family: $ffOpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    &.desc {
      font-size: 13px;
    }
    &.price {
      margin: 5px 0 0;
      i {
        vertical-align: middle;
      }
    }
  }

  &.active {
    background-color: $primary;
    span {
      color: $white;
      &.price {
        i {
          margin-right: 8px;
          @include svg-pound-white;
        }
      }
    }
  }
}

.quantity.white,
.ordered-item.active {
  .btn-plain {
    .icon {
      &.btn-minus {
        @include svg-minus-circle-white;
      }
      &.btn-plus {
        @include svg-plus-circle-white;
      }
    }
  }
}

.cart-item {
  margin-bottom: 30px;
  min-height: 75px;
  span {
    &.price {
      display: inline-block;
      margin: 0;
    }
  }
  .quantity {
    margin: 0;
    display: inline-block;
  }
  .btn-plain,
  .price,
  .quantity {
    vertical-align: middle;
  }
}
.menu-item-detail,
.order-detail {
  padding: 15px 15px;
  min-height: 173px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: $white;
  margin-bottom: 30px;
  p {
    color: $greyText;
    font-family: $ffOpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 5px;
    span {
      color: $primary;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.menu-item-detail {
  position: relative;
  padding-right: 60px;
  p {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .buttons-wrapper {
    position: absolute;
    display: block;
    top: 0;
    right: 5px;
    bottom: 0;
    left: auto;
    margin: auto;
    width: 45px;
    height: 100%;
    padding: 15px 0;
    .badge-dark {
      position: absolute;
      top: auto;
      right: 15px;
      bottom: 20px;
      left: auto;
      margin: auto;
      white-space: nowrap;
    }
  }
}

.page-header {
  font-size: 0;
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 30px;
  h1,
  .btn-plain {
    vertical-align: middle;
  }
  .btn-plain {
    width: 60px;
    display: inline-block;
    &.btn-settings {
      text-align: right;
    }
  }
  h1 {
    margin: 0;
    text-align: center;
    display: inline-block;
    width: calc(100% - 120px);
    color: $textColor;
    font-family: $ffOpenSans;
    font-size: 20px;
    font-weight: 400;
  }
  &.no-back {
    .btn-plain.btn-back {
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.input-group {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: $white;
  .form-control {
    border-radius: 8px 0 0 8px;
  }
  .input-group-append {
    .input-group-text {
      border-radius: 0 8px 8px 0;
      background-color: $lightGray;
    }
  }
  &.bg-green {
    .form-control {
      border-right: transparent;
    }
    .input-group-append {
      .input-group-text {
        background-color: $green;
      }
    }
    .input-group-append.multi {
      .input-group-text {
        background-color: transparent;
        border-left: transparent;
      }
    }
  }
  &.bg-white {
    .form-control {
      border-right: transparent;
    }
    .input-group-append {
      .input-group-text {
        background-color: $white;
        border-left: transparent;
      }
    }
  }
  &.bg-pink {
    .form-control {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px 0 0 8px;
      border-color: transparent;
      text-align: left;
    }
    .input-group-append {
      .input-group-text {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.table-status {
  background-color: $white;
  min-height: 88px;
  padding: 15px 15px 5px;
  margin-bottom: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  &:before {
    content: "";
    width: 9px;
    height: 100%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 8px 0 0 8px;
  }
  div[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    &:first-of-type {
      padding-left: 19px;
    }
    &:last-of-type {
      padding-right: 10px;
    }
  }
  span[class*="svg-"] {
    vertical-align: middle;
  }
  .text {
    display: block;
    margin-bottom: 10px;
    color: $greyText;
    font-family: $ffOpenSans;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
  .time {
    padding: 8px 4px;
    float: right;
    display: block;
    text-align: center;
    max-width: 68px;
    min-height: 68px;
    border-radius: 8px;
    border: 1px solid $greyText;
    margin: -5px 0 0;
    .text {
      margin-bottom: 0;
    }
  }
  &.free {
    &:before{
      background-color: $green;
    }
  }
  &.kitchen {
    &:before{
      background-color: $greyText;
    }
  }
  &.ready {
    &:before{
      background-color: $secondary;
    }
  }
  &.occupied {
    &:before{
      background-color: $primary;
    }
  }
}