.bg-pink {
  background-color: $primary;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $secondary;
}
.bg-black {
  background-color: $textColor;
}

.btn-plain {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.room {
  width: 88px;
  min-height: 89px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: $white;
  padding: 14px 8px;
  text-align: center;
  margin: 0 19px 19px 0;
  display: inline-block;
  font-family: $ffOpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  span {
    display: inline-block;
    &[class*="svg-"] {
      margin-bottom: 5px;
    }
  }
}

.menu-item {
  display: inline-block;
  .media-box {
    position: relative;
    img {
      border-radius: 50%;
      display: block;
      width: 100%;
      height: auto;
    }
    .icon {
      background-color: transparent;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      display: block;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        margin: auto;
        @include svg-plus-circle-yellow;
      }
    }
  }
  .name {
    display: block;
    color: $greyText;
    font-family: $ffOpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
}

.btn-icon {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px 20px;
  color: $greyText;
  font-family: $ffOpenSans;
  font-size: 19px;
  font-weight: 400;
  .icon {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
  }
  &.btn-white {
    border: 1px solid $white;
    background-color: $white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  &.btn-light {
    border: 1px solid $greyText;
    background-color: $lightBg;
  }
}

.quantity {
  margin: 15px 0 0;
  .btn-plain,
  .text {
    vertical-align: middle;
    display: inline-block;
  }
  .btn-plain {
    .icon {
      &.btn-minus {
        @include svg-minus-circle;
      }
      &.btn-plus {
        @include svg-plus-circle;
      }
    }
  }
}
.cart-item,
.ordered-item {
  padding: 8px 15px;
  min-height: 88px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: $white;
  span {
    display: block;
    color: $greyText;
    font-family: $ffOpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    &.desc {
      font-size: 13px;
    }
    &.price {
      i {
        vertical-align: middle;
      }
    }
  }

  &.active {
    background-color: $primary;
    span {
      color: $white;
      &.price {
        i {
          @include svg-pound-white;
        }
      }
    }
  }
}

.quantity.white,
.ordered-item.active {
  .btn-plain {
    .icon {
      &.btn-minus {
        @include svg-minus-circle-white;
      }
      &.btn-plus {
        @include svg-plus-circle-white;
      }
    }
  }
}

.cart-item {
  min-height: 75px;
  span {
    &.name {
      margin-bottom: 10px;
    }
    &.price {
      display: inline-block;
    }
  }
  .quantity {
    margin: 0;
    display: inline-block;
  }
}