$dp-1: #800800;
$dp-2: #999999;
$dp-3: #777777;
$dp-4: #DDDDDD;
$dp-5: #FFF0C4;
$dp-6: #F9F9F9;
$dp-7: #A63950;
a.datepicker-button {
  cursor: pointer;
  &.default {
    margin: 0;
    .input-group-text {
      background-color: transparent;
      border-left: none;
    }
    .fa-calendar-alt {
      width: 14px;
      height: 14px;
      &:before {
        content: "";
        @extend .svg-calendar;
        display: block;
      }
    }
  }
}

div.datepicker-calendar {
  margin: 0 10px 10px 0;
  font-size: 0.9rem;
  padding: 2px;
  position: absolute;
  width: 261px;
  border: 1px solid $silver;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 50;
  div.datepicker-month-wrap {
    margin: 0;
    padding-top: 1px;
    text-align: center;
    height: 30px;
  }
  &.bootstrap4 div.datepicker-month-wrap {
    > div {
      padding-top: 0;
    }
    div {
      &.datepicker-month-prev,
      &.datepicker-month-next {
        padding-top: 2px;
      }
    }
    i {
      &.fa-caret-left,
      &.fa-caret-right {
        font-size: 1.3rem;
      }
    }
  }
  div {
    &.datepicker-month-fast-prev.disabled,
    &.datepicker-month-fast-next.disabled,
    &.datepicker-month-prev.disabled,
    &.datepicker-month-next.disabled {
      border: none;
      cursor: default;
    }
    &.datepicker-month-fast-prev,
    &.datepicker-month-fast-next,
    &.datepicker-month-prev,
    &.datepicker-month-next {
      cursor: pointer;
      margin: 2px;
      width: 20px;
      height: 20px;
      padding-top: 3px;
    }
    &.datepicker-month-fast-prev {
      padding-right: 2px;
    }
    &.datepicker-month-fast-next {
      padding-left: 2px;
    }
    &.datepicker-month-fast-prev.enabled {
      &:hover,
      &:focus {
        margin-top: 2px;
        border: 1px solid $dp-1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    &.datepicker-month-fast-next.enabled {
      &:hover,
      &:focus {
        margin-top: 2px;
        border: 1px solid $dp-1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    &.datepicker-month-prev.enabled {
      &:hover,
      &:focus {
        margin-top: 2px;
        border: 1px solid $dp-1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    &.datepicker-month-next.enabled {
      &:hover,
      &:focus {
        margin-top: 2px;
        border: 1px solid $dp-1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    &.datepicker-month {
      margin: 3px 56px 2px 56px;
      height: 24px;
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      padding-top: 1px;
    }
  }
  &:not(.bootstrap4) div.datepicker-month:after {
    font-family: "Glyphicons Halflings";
    font-size: 0.6rem;
    display: inline-block;
    content: ">>";
  }
  div.datepicker-month {
    &:hover,
    &:focus {
      padding-top: 0;
      border: 1px solid $dp-1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  table {
    &.datepicker-grid {
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      &.rtl {
        direction: rtl;
      }
      &:focus {
        outline: none;
      }
    }
    &.datepicker-grid {
      th,
      td {
        text-align: center;
        padding: 0;
      }
      th abbr {
        border: none;
      }
      td {
        border: 1px solid $dp-2;
        cursor: pointer;
        &.unselectable {
          cursor: default;
        }
      }
      th {
        height: 30px;
      }
      td {
        &.day {
          height: 30px;
        }
        &.month {
          height: 60px;
        }
        &.year {
          height: 45px;
        }
        &.curDay,
        &.curMonth,
        &.curYear {
          border: 1px solid $dp-2;
        }
        &.empty {
          border: 1px solid $dp-2;
          cursor: default;
        }
      }
    }
  }
  .offscreen {
    position: absolute;
    left: -200em;
    top: -100em;
  }
}
.datepicker-overlay {
  background: $dp-3;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  height: 100%;
  min-height: 100%;
  z-index: 40;
}
div.datepicker-calendar button.datepicker-close {
  height: 30px;
  width: 100%;
  font-weight: bold;
  margin-top: 1px;
  border: 1px solid $lavender;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/****************************
 * colors
 ***************************/
/****************************
 * default theme colors
 ***************************/
a.datepicker-button.default {
  &:hover,
  &:focus {
    background-color: $dp-4;
  }
}
div.datepicker-calendar.default {
  background-color: $white;
  div {
    &.datepicker-month-fast-prev.disabled,
    &.datepicker-month-fast-next.disabled,
    &.datepicker-month-prev.disabled,
    &.datepicker-month-next.disabled {
      color: $dp-2;
    }
    &.datepicker-month-fast-prev.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month-fast-next.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month-prev.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month-next.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
  }
  button.datepicker-close {
    &:hover,
    &:focus {
      background-color: $lavender;
      border-color: $dp-2;
    }
  }
  table.datepicker-grid:focus {
    outline: 1px dotted $dp-2;
  }
  tr.datepicker-weekdays {
    border-top: 1px solid $dp-2;
    border-bottom: 1px solid $dp-2;
  }
  table.datepicker-grid {
    th {
      background-color: $lavender;
      border: none;
    }
    td {
      border: none;
      color: $black;
      &.unselectable {
        color: $dp-2;
      }
      &.curDay,
      &.curMonth,
      &.curYear {
        background-color: $dp-5;
      }
      &.empty {
        border: none;
        color: $silver;
      }
      &.selectable {
        &:hover,
        &.focus {
          background-color: $dp-4;
        }
      }
      &.empty:hover {
        background-color: $dp-6;
      }
    }
  }
  button.datepicker-close {
    background-color: $dp-4;
    border-color: $dp-2;
    color: $black;
  }
}
/****************************
 * bootstrap theme colors
 ***************************/
a.datepicker-button.bootstrap {
  &:hover,
  &:focus {
    background-color: $dp-4;
  }
}
div.datepicker-calendar.bootstrap {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  min-width: 200px;
  font-size: 0.8rem;
  background-clip: padding-box;
  background-color: $white;
  border-radius: 4px;
  line-height: 20px;
  &.below {
    margin-top: 2px;
  }
  &.above {
    margin-top: -2px;
  }
  &:before {
    content: "";
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $silver;
    border-top: none;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 7px;
  }
  &:after {
    content: "";
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $white;
    border-top: none;
    position: absolute;
    left: 6px;
  }
  &.below {
    &:before {
      top: -7px;
    }
    &:after {
      top: -6px;
    }
  }
  &.above {
    &:before {
      bottom: -7px;
      border-bottom: none;
      border-top: 7px solid $dp-2;
    }
    &:after {
      bottom: -6px;
      border-bottom: none;
      border-top: 6px solid $white;
    }
  }
  div {
    &.datepicker-month-fast-prev.disabled,
    &.datepicker-month-fast-next.disabled,
    &.datepicker-month-prev.disabled,
    &.datepicker-month-next.disabled {
      color: $dp-2;
    }
    &.datepicker-month-fast-prev.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month-fast-next.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month-prev.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month-next.enabled {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
    &.datepicker-month {
      &:hover,
      &:focus {
        background-color: $lavender;
        border-color: $dp-2;
      }
    }
  }
  button.datepicker-close {
    &:hover,
    &:focus {
      background-color: $lavender;
      border-color: $dp-2;
    }
  }
  table.datepicker-grid:focus {
    outline: none;
  }
  tr.datepicker-weekdays {
    border: none;
  }
  table.datepicker-grid {
    th abbr {
      text-decoration: none;
      cursor: default;
    }
    td {
      border: none;
      color: $black;
      &.unselectable {
        color: $dp-2;
      }
      &.curDay,
      &.curMonth,
      &.curYear {
        background-color: $dp-5;
      }
      &.empty {
        border: none;
        color: $silver;
      }
      &.selectable {
        &:hover,
        &.focus {
          background-color: $dp-4;
        }
      }
      &.empty:hover {
        background-color: $dp-6;
      }
    }
  }
  button.datepicker-close {
    background-color: $dp-4;
    border-color: $dp-2;
    color: $black;
  }
}
/****************************
 * maroon theme colors
 ***************************/
a.datepicker-button.maroon {
  color: $white;
  background-color: $dp-7;
  &:hover,
  &:focus {
    color: $white;
    background-color: #802C3E;
  }
}
div.datepicker-calendar.maroon {
  background-color: $white;
  border-color: $silver;
  div {
    &.datepicker-month-wrap {
      background-color: #522A3F;
      color: $white;
    }
    &.datepicker-month-fast-prev.disabled,
    &.datepicker-month-fast-next.disabled,
    &.datepicker-month-prev.disabled,
    &.datepicker-month-next.disabled {
      color: $dp-2;
    }
    &.datepicker-month-fast-prev.enabled {
      &:hover,
      &:focus {
        background-color: $dp-7;
        border-color: $dp-1;
      }
    }
    &.datepicker-month-fast-next.enabled {
      &:hover,
      &:focus {
        background-color: $dp-7;
        border-color: $dp-1;
      }
    }
    &.datepicker-month-prev.enabled {
      &:hover,
      &:focus {
        background-color: $dp-7;
        border-color: $dp-1;
      }
    }
    &.datepicker-month-next.enabled {
      &:hover,
      &:focus {
        background-color: $dp-7;
        border-color: $dp-1;
      }
    }
    &.datepicker-month {
      &:hover,
      &:focus {
        background-color: $dp-7;
        border-color: $dp-1;
      }
    }
  }
  button.datepicker-close {
    &:hover,
    &:focus {
      background-color: $dp-7;
      border-color: $dp-1;
    }
  }
  table.datepicker-grid:focus {
    outline: 1px dotted $dp-7;
  }
  table.datepicker-grid {
    th {
      background-color: $dp-7;
      color: $white;
    }
    td {
      background-color: $lavender;
      border-color: $dp-2;
      &.unselectable {
        color: $dp-2;
      }
      &.curDay,
      &.curMonth,
      &.curYear {
        background-color: $dp-5;
      }
      &.empty {
        background-color: $dp-6;
        color: #AAAAAA;
      }
      &.selectable {
        &:hover,
        &.focus {
          background-color: #B55A6E;
          color: $white;
          border-color: $dp-1;
        }
      }
      &.empty:hover {
        background-color: $dp-6;
        border-color: $dp-2;
      }
    }
  }
  button.datepicker-close {
    background-color: #522A3F;
    color: $white;
    border-color: $lavender;
  }
}
/****************************
 * blue theme colors
 ***************************/
a.datepicker-button.blue {
  color: $white;
  background-color: #063A5B;
  &:hover,
  &:focus {
    background-color: #262A33;
  }
}
div.datepicker-calendar.blue {
  background-color: $white;
  border-color: $silver;
  div {
    &.datepicker-month-wrap {
      background-color: #063A5B;
      color: $white;
    }
    &.datepicker-month-fast-prev.disabled,
    &.datepicker-month-fast-next.disabled,
    &.datepicker-month-prev.disabled,
    &.datepicker-month-next.disabled {
      color: $dp-2;
    }
    &.datepicker-month-fast-prev.enabled {
      &:hover,
      &:focus {
        background-color: #0B6BA8;
        border-color: #3484B7;
      }
    }
    &.datepicker-month-fast-next.enabled {
      &:hover,
      &:focus {
        background-color: #0B6BA8;
        border-color: #3484B7;
      }
    }
    &.datepicker-month-prev.enabled {
      &:hover,
      &:focus {
        background-color: #0B6BA8;
        border-color: #3484B7;
      }
    }
    &.datepicker-month-next.enabled {
      &:hover,
      &:focus {
        background-color: #0B6BA8;
        border-color: #3484B7;
      }
    }
    &.datepicker-month {
      &:hover,
      &:focus {
        background-color: #0B6BA8;
        border-color: #3484B7;
      }
    }
  }
  button.datepicker-close {
    &:hover,
    &:focus {
      background-color: #0B6BA8;
      border-color: #3484B7;
    }
  }
  table.datepicker-grid:focus {
    outline: 1px dotted #0B6BA8;
  }
  table.datepicker-grid {
    th {
      background-color: #0B6BA8;
      color: $white;
    }
    td {
      background-color: $lavender;
      border-color: $dp-2;
      &.unselectable {
        color: $dp-2;
      }
      &.curDay,
      &.curMonth,
      &.curYear {
        background-color: $dp-5;
      }
      &.empty {
        background-color: $dp-6;
        color: #AAAAAA;
      }
      &.selectable {
        &:hover,
        &.focus {
          background-color: #0B6BA8;
          color: $white;
          border-color: #3484B7;
        }
      }
      &.empty:hover {
        background-color: $dp-6;
        border-color: $dp-2;
      }
    }
  }
  button.datepicker-close {
    background-color: #063A5B;
    color: $white;
    border-color: $lavender;
  }
}
/****************************
 * green theme colors
 ***************************/
a.datepicker-button.green {
  color: $white;
  background-color: #0C5E2F;
  &:hover,
  &:focus {
    background-color: #262A33;
  }
}
div.datepicker-calendar.green {
  background-color: $white;
  border-color: $silver;
  div {
    &.datepicker-month-wrap {
      background-color: #0C5E2F;
      color: $white;
    }
    &.datepicker-month-fast-prev.disabled,
    &.datepicker-month-fast-next.disabled,
    &.datepicker-month-prev.disabled,
    &.datepicker-month-next.disabled {
      color: $dp-2;
    }
    &.datepicker-month-fast-prev.enabled {
      &:hover,
      &:focus {
        background-color: #0D803B;
        border-color: #36955C;
      }
    }
    &.datepicker-month-fast-next.enabled {
      &:hover,
      &:focus {
        background-color: #0D803B;
        border-color: #36955C;
      }
    }
    &.datepicker-month-prev.enabled {
      &:hover,
      &:focus {
        background-color: #0D803B;
        border-color: #36955C;
      }
    }
    &.datepicker-month-next.enabled {
      &:hover,
      &:focus {
        background-color: #0D803B;
        border-color: #36955C;
      }
    }
    &.datepicker-month {
      &:hover,
      &:focus {
        background-color: #0D803B;
        border-color: #36955C;
      }
    }
  }
  button.datepicker-close {
    &:hover,
    &:focus {
      background-color: #0D803B;
      border-color: #36955C;
    }
  }
  table.datepicker-grid:focus {
    outline: 1px dotted #0D803B;
  }
  table.datepicker-grid {
    th {
      background-color: #0D803B;
      color: $white;
    }
    td {
      background-color: $lavender;
      border-color: $dp-2;
      &.unselectable {
        color: $dp-2;
      }
      &.curDay,
      &.curMonth,
      &.curYear {
        background-color: $dp-5;
      }
      &.empty {
        background-color: $dp-6;
        color: #AAAAAA;
      }
      &.selectable {
        &:hover,
        &.focus {
          background-color: #0D803B;
          color: $white;
          border-color: #36955C;
        }
      }
      &.empty:hover {
        background-color: $dp-6;
        border-color: $dp-2;
      }
    }
  }
  button.datepicker-close {
    background-color: #0C5E2F;
    color: $white;
    border-color: $lavender;
  }
}

div.datepicker-calendar {
  div.datepicker-month-fast-next,
  div.datepicker-month-next {
    position: relative;
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  div.datepicker-month-fast-prev,
  div.datepicker-month-prev {
    position: relative;
    width: 20px;
    height: 20px;
    &:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  div.datepicker-month-fast-next {
    &:after {
      content: ">>";
    }
  }
  div.datepicker-month-next {
    &:after {
      content: ">";
    }
  }
  div.datepicker-month-fast-prev {
    &:before {
      content: "<<";
    }
  }
  div.datepicker-month-prev {
    &:before {
      content: "<";
    }
  }
}

div.datepicker-calendar.bootstrap4 {
  div.datepicker-month{
    position: relative;
    border: 1px solid transparent;
    padding-right: 12px;
    font-weight: normal;
    &:after {
      content: "" !important;
      @extend .svg-dropdown-black;
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.date {
  label {
    display: block;
    width: 100%;
  }
  .datetimepicker-input {
    border-radius: 6px 0 0 6px !important;
  }
  .calendar-icon {
    position: relative;
    width: 13px;
    height: 14px;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      @extend .svg-calendar;
    }
  }
}
