.FormPanel {
  /* Force table to not be like tables anymore */
  table.EditingFormTable {
    display: block;
    width: 100%;
    visibility: visible;
    thead,
    tbody,
    th,
    tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      width: 100%;
      border: none;
      margin: 0 0 15px;
      td {
        /* Behave  like a "row" */
        border: none;
        width: 100%;
        position: relative;
        display: block;
        padding: 0 0;
        &:first-of-type {
          box-sizing: border-box;
        }
      }
    }
    span.EditingFormLabel {
      color: $dark-gray;
      font-size: 0.8125rem;
      letter-spacing: 0.04px;
      line-height: 16px;
      margin-bottom: 10px;
      display: inline-block;
    }
    label {
      color: $dark-gray;
    }
    .ExplanationText {
      display: block;
      margin: 7px 0 0;
      font-size: 0.75rem;
      color: $dim-gray;
    }
    label[for*="checkbox"] {
      position: absolute;
      width: calc(100% - 25px);
      top: 3px;
      right: auto;
      left: 25px;
      bottom: auto;
      margin: 0 !important;
    }
    .btn.FormButton {
      color: $white;
      &:hover,
      &:focus {
        color: $white;
      }
    }
    select {
      background: url("imgs/chevron-down.svg") no-repeat 98% 15px;
      &[multiple="multiple"] {
        height: auto !important;
        overflow: auto;
        background: none;
      }
    }
    textarea,
    [class*="cke_editor"] {
      width: 100% !important;
      height: auto !important;
    }
    span[class*="checkbox-list"] {
      input[type="checkbox"] {
        margin-right: 10px;
        vertical-align: middle;
        + label {
          margin-bottom: 0;
        }
      }
    }
    span[class*="radio-list"] {
      input[type="radio"] {
        margin-right: 10px;
        vertical-align: middle;
        + label {
          margin-bottom: 0;
        }
      }
    }
    .editing-form-control-nested-control {
      .form-control-text {
        display: inline-block;
        + .form-control {
          display: inline-block !important;
          width: auto !important;
        }
      }
    }
    .date-time-picker {
      .control-group-inline {
        position: relative;
        display: block;
        .calendar-action.form-control-text {
          display: none;
        }
        .form-control {
          background-color: transparent;
          z-index: 9;
          padding-right: 50px !important;
        }
        .btn {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: auto;
          display: block;
          width: 40px;
          margin: auto;
          border: none !important;
          z-index: 10;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          .icon-calendar {
            content: "\e109";
            @include use-glyphicon;
          }
        }
      }
    }

    span[id*="captchaControl"] {
      display: none;
    }
    .CaptchaTable {
      visibility: visible;
    }
  }
}
