// value can be 0 OR 1
//0 mean use default view port width
//1 mean change view port width.
$changeViewPort: 1;

$mobileViewPortWidth: 360px;

@if $changeViewPort == 1 {
  @media screen and (max-width: $screen-xs) {
    html {
      min-width: $mobileViewPortWidth !important;
      width: 100% !important;
    }
    body {
      > *,
      main > *:not(.container) {
        min-width: $mobileViewPortWidth !important;
        width: 100% !important;
      }
    }
  }
}