/* Radion Styles  */

// Checkboxes & Radios

.styled-radio {
  label {
    padding-top: 0;
    margin-bottom: 15px;
    display: inline-block;
    text-align: left;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 15px;
    padding-left: 25px;
    color: $dark-gray;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    top: auto;
    left: 0;
    z-index: -1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.custom-radio .custom-control-label::before {
  @extend .svg-radio-button-not-selected;
  border: none;
  transition: none;
  outline: none;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  @extend .svg-radio;
}
