.login-screen {
  padding-top: 1px;
  min-height: 100vh;
  width: 100%;
  background-color: $white;
  a {
    display: inline-block;
    color: $yellow;
    font-family: $ffOpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    min-width: 1px;
  }
  .media-box {
    min-height: 336px;
    background: url("imgs/app-bg.png") no-repeat center center;
    background-size: cover;
  }
  .content-box {
    width: 100%;
    max-width: calc(100% - 50px);
    min-height: 184px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    background-color: $white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -93px auto 30px;
    .text {
      text-align: center;
      color: $textColor;
      font-family: $ffOpenSans;
      font-size: 30px;
      font-weight: 300;
      line-height: 35px;
      span {
        font-size: 37px;
        font-weight: 300;
        line-height: 42px;
        display: block;
      }
    }
  }
  .login-form {
    width: 100%;
    max-width: calc(100% - 50px);
    padding: 0 10px 40px;
    margin: auto;
    .single-checkbox-style {
      .custom-control-input:checked ~ .checkbox-label:after {
        background-color: $yellow;
      }
      + .forgot-link {
        float: right;
      }
    }
  }
  .new-login {
    padding: 25px 0 0;
    text-align: center;
    font-family: $ffOpenSans;
    font-size: 18px;
    font-weight: 400;
    p {
      margin-bottom: 0;
    }
  }
  .logo-box {
    background: url("imgs/logo.png") no-repeat center center;
    max-width: 252px;
    min-height: 252px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    margin: 153px auto 45px;
  }
  .inner-box {
    padding: 0 35px 0.1px;
    text-align: center;
    .text {
      text-align: center;
      color: $textColor;
      font-family: $ffOpenSans;
      font-size: 23px;
      font-weight: 300;
      line-height: 27px;
      span {
        font-size: 28px;
        font-weight: 300;
        line-height: 32px;
        display: block;
      }
    }
  }
}

.form-settings {
  text-align: center;
}

.tables-wrapper {
  font-size: 0;
}

.menu-items-row {
  > .col-6 {
    &:nth-of-type(even){
      padding-left: 5px;
    }
    &:nth-of-type(odd) {
      padding-right: 5px;
    }
  }
}

.otp-fields {
  font-size: 0;
  margin-top: 20px;
  .form-control {
    display: inline-block;
    border-radius: 8px;
    &.country-code {
      border-radius: 8px 0 0 8px;
      border: 1px solid $lightGray;
      margin-right: 4px;
      width: 30%;
    }
    &.phone-number {
      border-radius: 0 8px 8px 0;
      border: 1px solid $lightGray;
      width: calc(70% - 4px);
    }
  }
}

.buttons-wrap {
  text-align: right;
  .zoom-level {
    display: inline-block;
    color: $greyText;
    font-family: $ffOpenSans;
    font-size: 19px;
    font-weight: 400;
  }
  .btn-group {
    display: inline-block;
    .badge-white {
      min-width: 48px;
      width: 48px;
      border-radius: 0;
      margin-right: 3px;
      margin-bottom: 0;
      &:first-of-type {
        border-radius: 8px 0 0 8px;
      }
      &:last-of-type {
        border-radius: 0 8px 8px 0;
        margin-right: 0;
      }
    }
  }
}

.screen-tables {
  h2 {
    margin-bottom: 10px;
  }
  .vertical-center {
    margin-bottom: 30px;
    h2 {
      padding: 11px 0 10px;
      margin-bottom: 0;
    }
  }
}