/*Use these class with @extend i.e

.sample-box {
  @extend .svg-social_facebook
  &:after {
  @extend .svg-social_facebook
  }
}

Where ever you want to use it, because its give benefit to easily add new OR remove icons from sprite
just replace your svg sprite and modify these classes.

*/
@mixin svg-arrow-back {
  background: url("svg/sprite.svg") 78.28056112224449% 80.53139962400095% no-repeat;
  width: 26.45px;
  height: 22.042px;
}

@mixin svg-chair {
  background: url("svg/sprite.svg") 89.15143115809889% 25.531451410495013% no-repeat;
  width: 17.937px;
  height: 26.833px;
}

@mixin svg-chef {
  background: url("svg/sprite.svg") 89.56570660032789% 54.966692926966836% no-repeat;
  width: 23.481px;
  height: 23.481px;
}

@mixin svg-clock {
  background: url("svg/sprite.svg") 99.7759825327511% 10.185185185185185% no-repeat;
  width: 22px;
  height: 22px;
}

@mixin svg-clock-white {
  background: url("svg/sprite.svg") 65.93886462882097% 75.10277777777776% no-repeat;
  width: 22px;
  height: 22px;
}

@mixin svg-details {
  background: url("svg/sprite.svg") 87.18377192982457% 91.14232558139534% no-repeat;
  width: 23px;
  height: 23px;
}

@mixin svg-edit {
  background: url("svg/sprite.svg") 80.26438356164384% 26.17184466019418% no-repeat;
  width: 32px;
  height: 32px;
}

@mixin svg-info {
  background: url("svg/sprite.svg") 65.9892931279362% 44.50225877447006% no-repeat;
  width: 23px;
  height: 23px;
}

@mixin svg-minus {
  background: url("svg/sprite.svg") 97.6440170940171% 44.38% no-repeat;
  width: 17px;
  height: 3px;
}

@mixin svg-minus-circle {
  background: url("svg/sprite.svg") 65.93886462882097% 54.7324074074074% no-repeat;
  width: 22px;
  height: 22px;
}

@mixin svg-minus-circle-white {
  background: url("svg/sprite.svg") 65.93886462882097% 64.91759259259258% no-repeat;
  width: 22px;
  height: 22px;
}

@mixin svg-plus {
  background: url("svg/sprite.svg") 97.6440170940171% 39.49909502262444% no-repeat;
  width: 17px;
  height: 17px;
}

@mixin svg-plus-circle {
  background: url("svg/sprite.svg") 99.7759825327511% 20.37037037037037% no-repeat;
  width: 22px;
  height: 22px;
}

@mixin svg-plus-circle-white {
  background: url("svg/sprite.svg") 99.7759825327511% 0 no-repeat;
  width: 22px;
  height: 22px;
}

@mixin svg-plus-circle-yellow {
  background: url("svg/sprite.svg") 78.82466367713005% 69.48285714285713% no-repeat;
  width: 28px;
  height: 28px;
}

@mixin svg-pound {
  background: url("svg/sprite.svg") 89.37675438596492% 67.86697674418603% no-repeat;
  width: 23px;
  height: 23px;
}

@mixin svg-pound-white {
  background: url("svg/sprite.svg") 77.09605263157896% 91.14232558139534% no-repeat;
  width: 23px;
  height: 23px;
}

@mixin svg-remove {
  background: url("svg/sprite.svg") 80.26438356164384% 41.70582524271845% no-repeat;
  width: 32px;
  height: 32px;
}

@mixin svg-settings {
  background: url("svg/sprite.svg") 78.82466367713005% 56.14952380952381% no-repeat;
  width: 28px;
  height: 28px;
}

@mixin svg-stop {
  background: url("svg/sprite.svg") 65.93886462882097% 95.47314814814814% no-repeat;
  width: 22px;
  height: 22px;
}

@mixin svg-table {
  background: url("svg/sprite.svg") 89.92711700855118% 80.5284165100062% no-repeat;
  width: 26.119px;
  height: 22.034px;
}

@mixin svg-table-chair-white {
  background: url("svg/sprite.svg") 88.64654146410345% 0 no-repeat;
  width: 52.708px;
  height: 28.8px;
}

@mixin svg-tick-circle {
  background: url("svg/sprite.svg") 99.46888862768658% 30.45586898438906% no-repeat;
  width: 22px;
  height: 21.293px;
}

@mixin svg-view {
  background: url("svg/sprite.svg") 65.93886462882097% 85.28796296296295% no-repeat;
  width: 22px;
  height: 22px;
}

.svg-arrow-back {
  @include svg-arrow-back;
}

.svg-chair {
  @include svg-chair;
}

.svg-chef {
  @include svg-chef;
}

.svg-clock {
  @include svg-clock;
}

.svg-clock-white {
  @include svg-clock-white;
}

.svg-details {
  @include svg-details;
}

.svg-edit {
  @include svg-edit;
}

.svg-info {
  @include svg-info;
}

.svg-minus {
  @include svg-minus;
}

.svg-minus-circle {
  @include svg-minus-circle;
}

.svg-minus-circle-white {
  @include svg-minus-circle-white;
}

.svg-plus {
  @include svg-plus;
}

.svg-plus-circle {
  @include svg-plus-circle;
}

.svg-plus-circle-white {
  @include svg-plus-circle-white;
}

.svg-plus-circle-yellow {
  @include svg-plus-circle-yellow;
}

.svg-pound {
  @include svg-pound;
}

.svg-pound-white {
  @include svg-pound-white;
}

.svg-remove {
  @include svg-remove;
}

.svg-settings {
  @include svg-settings;
}

.svg-stop {
  @include svg-stop;
}

.svg-table {
  @include svg-table;
}

.svg-table-chair-white {
  @include svg-table-chair-white;
}


.svg-tick-circle {
  @include svg-tick-circle;
}

.svg-view {
  @include svg-view;
}