/*Use these class with @extend i.e

.sample-box {
  @extend .svg-social_facebook
  &:after {
  @extend .svg-social_facebook
  }
}

Where ever you want to use it, because its give benefit to easily add new OR remove icons from sprite
just replace your svg sprite and modify these classes.

*/
@mixin svg-calendar {
  background: url("svg/sprite.svg") 38.095238095238095% 95.1219512195122% no-repeat;
  width: 13px;
  height: 14px;
}
@mixin svg-checkbox {
  background: url("svg/sprite.svg") 100% 0 no-repeat;
  width: 16px;
  height: 16px;
}
@mixin svg-checkbox-haf {
  background: url("svg/sprite.svg") 100% 41.02564102564103% no-repeat;
  width: 16px;
  height: 16px;
}
@mixin svg-dropdown-black {
  background: url("svg/sprite.svg") 86.66666666666667% 65.3061224489796% no-repeat;
  width: 10px;
  height: 6px;
}
@mixin svg-dropdown-blue {
  background: url("svg/sprite.svg") 64.44444444444444% 79.59183673469387% no-repeat;
  width: 10px;
  height: 6px;
}
@mixin svg-dropdown-gray {
  background: url("svg/sprite.svg") 86.66666666666667% 79.59183673469387% no-repeat;
  width: 10px;
  height: 6px;
}
@mixin svg-info {
  background: url("svg/sprite.svg") 0 0 no-repeat;
  width: 21px;
  height: 21px;
}
@mixin svg-radio {
  background: url("svg/sprite.svg") 56.75675675675676% 0 no-repeat;
  width: 18px;
  height: 18px;
}
@mixin svg-radio-button-not-selected {
  background: url("svg/sprite.svg") 0 56.75675675675676% no-repeat;
  width: 18px;
  height: 18px;
}
@mixin svg-radio-button-not-selected-haf {
  background: url("svg/sprite.svg") 48.648648648648646% 56.75675675675676% no-repeat;
  width: 18px;
  height: 18px;
}
@mixin svg-tick {
  background: url("svg/sprite.svg") 0 100% no-repeat;
  width: 16px;
  height: 16px;
}
.svg-calendar {
  @include svg-calendar;
}
.svg-checkbox {
  @include svg-checkbox;
}
.svg-checkbox-haf {
  @include svg-checkbox-haf;
}
.svg-dropdown-black {
  @include svg-dropdown-black;
}
.svg-dropdown-blue {
  @include svg-dropdown-blue;
}
.svg-dropdown-gray {
  @include svg-dropdown-gray;
}
.svg-info {
  @include svg-info;
}
.svg-radio {
  @include svg-radio;
}
.svg-radio-button-not-selected {
  @include svg-radio-button-not-selected;
}
.svg-radio-button-not-selected-haf {
  @include svg-radio-button-not-selected-haf;
}
.svg-tick {
  @include svg-tick;
}