/*Use these class with @extend i.e

.sample-box {
  @extend .svg-social_facebook
  &:after {
  @extend .svg-social_facebook
  }
}

Where ever you want to use it, because its give benefit to easily add new OR remove icons from sprite
just replace your svg sprite and modify these classes.

*/
@mixin svg-arrow-back {
  background: url("svg/sprite.svg") 78.63073138000448% 80.20957778827363% no-repeat;
  width: 26.45px;
  height: 22.042px;
}

@mixin svg-chair {
  background: url("svg/sprite.svg") 89.5356002464848% 25.531451410495013% no-repeat;
  width: 17.937px;
  height: 26.833px;
}

@mixin svg-chef {
  background: url("svg/sprite.svg") 89.96110701530556% 54.966692926966836% no-repeat;
  width: 23.481px;
  height: 23.481px;
}

@mixin svg-clock {
  background: url("svg/sprite.svg") 66.01179469020359% 83.99701033924343% no-repeat;
  width: 21.253px;
  height: 21.253px;
}

@mixin svg-clock-white {
  background: url("svg/sprite.svg") 66.01179469020359% 74.19156897211955% no-repeat;
  width: 21.253px;
  height: 21.253px;
}

@mixin svg-details {
  background: url("svg/sprite.svg") 89.46431718061675% 67.86697674418603% no-repeat;
  width: 23px;
  height: 23px;
}

@mixin svg-edit {
  background: url("svg/sprite.svg") 80.63256880733945% 26.17184466019418% no-repeat;
  width: 32px;
  height: 32px;
}

@mixin svg-info {
  background: url("svg/sprite.svg") 77.1552726873697% 90.47191011235955% no-repeat;
  width: 22.175px;
  height: 22.175px;
}

@mixin svg-kitchen {
  background: url("svg/sprite.svg") 0 99.83784289471221% no-repeat;
  width: 151px;
  height: 141.797px;
}

@mixin svg-minus {
  background: url("svg/sprite.svg") 98.06309012875536% 43.354893617021276% no-repeat;
  width: 17px;
  height: 3px;
}

@mixin svg-minus-circle {
  background: url("svg/sprite.svg") 99.87236590771006% 19.578464703684396% no-repeat;
  width: 21.221px;
  height: 21.221px;
}

@mixin svg-minus-circle-white {
  background: url("svg/sprite.svg") 99.87236590771006% 9.789232351842198% no-repeat;
  width: 21.221px;
  height: 21.221px;
}

@mixin svg-plus {
  background: url("svg/sprite.svg") 98.06309012875536% 38.409049773755655% no-repeat;
  width: 17px;
  height: 17px;
}

@mixin svg-plus-circle {
  background: url("svg/sprite.svg") 99.87236590771006% 29.367697055526595% no-repeat;
  width: 21.221px;
  height: 21.221px;
}

@mixin svg-plus-circle-white {
  background: url("svg/sprite.svg") 99.87236590771006% 0 no-repeat;
  width: 21.221px;
  height: 21.221px;
}

@mixin svg-plus-circle-yellow {
  background: url("svg/sprite.svg") 78.93262084914346% 69.25366050452074% no-repeat;
  width: 27.305px;
  height: 27.305px;
}

@mixin svg-pound {
  background: url("svg/sprite.svg") 86.8886206518161% 90.47191011235955% no-repeat;
  width: 22.175px;
  height: 22.175px;
}

@mixin svg-pound-white {
  background: url("svg/sprite.svg") 66.27894217052562% 44.50225877447006% no-repeat;
  width: 22.175px;
  height: 22.175px;
}

@mixin svg-remove {
  background: url("svg/sprite.svg") 80.63256880733945% 41.70582524271845% no-repeat;
  width: 32px;
  height: 32px;
}

@mixin svg-settings {
  background: url("svg/sprite.svg") 79.17972972972974% 56.14952380952381% no-repeat;
  width: 28px;
  height: 28px;
}

@mixin svg-stop {
  background: url("svg/sprite.svg") 66.00804336422452% 93.79682598265362% no-repeat;
  width: 21.24px;
  height: 21.24px;
}

@mixin svg-table {
  background: url("svg/sprite.svg") 90.32879074150999% 80.20660659548261% no-repeat;
  width: 26.119px;
  height: 22.034px;
}

@mixin svg-table-chair {
  background: url("svg/sprite.svg") 86.14970667372415% 13.528367295172064% no-repeat;
  width: 45.961px;
  height: 25.114px;
}

@mixin svg-table-chair-white {
  background: url("svg/sprite.svg") 89.09585791618515% 0 no-repeat;
  width: 52.708px;
  height: 28.8px;
}

@mixin svg-table-chair-yellow {
  background: url("svg/sprite.svg") 0 0 no-repeat;
  width: 175.779px;
  height: 96.047px;
}

@mixin svg-tick-circle {
  background: url("svg/sprite.svg") 66.02333990651795% 64.37955395995515% no-repeat;
  width: 21.293px;
  height: 21.293px;
}

@mixin svg-view {
  background: url("svg/sprite.svg") 66.02333990651795% 54.55384459200671% no-repeat;
  width: 21.293px;
  height: 21.293px;
}

.svg-arrow-back {
  @include svg-arrow-back;
}

.svg-chair {
  @include svg-chair;
}

.svg-chef {
  @include svg-chef;
}

.svg-clock {
  @include svg-clock;
}

.svg-clock-white {
  @include svg-clock-white;
}

.svg-details {
  @include svg-details;
}

.svg-edit {
  @include svg-edit;
}

.svg-info {
  @include svg-info;
}

.svg-kitchen {
  @include svg-kitchen;
}

.svg-minus {
  @include svg-minus;
}

.svg-minus-circle {
  @include svg-minus-circle;
}

.svg-minus-circle-white {
  @include svg-minus-circle-white;
}

.svg-plus {
  @include svg-plus;
}

.svg-plus-circle {
  @include svg-plus-circle;
}

.svg-plus-circle-white {
  @include svg-plus-circle-white;
}

.svg-plus-circle-yellow {
  @include svg-plus-circle-yellow;
}

.svg-pound {
  @include svg-pound;
}

.svg-pound-white {
  @include svg-pound-white;
}

.svg-remove {
  @include svg-remove;
}

.svg-settings {
  @include svg-settings;
}

.svg-stop {
  @include svg-stop;
}

.svg-table {
  @include svg-table;
}

.svg-table-chair {
  @include svg-table-chair;
}

.svg-table-chair-white {
  @include svg-table-chair-white;
}

.svg-table-chair-yellow {
  @include svg-table-chair-yellow;
}

.svg-tick-circle {
  @include svg-tick-circle;
}

.svg-view {
  @include svg-view;
}