//screen sizes
$max-container: 480px;
$screen-xs: 640px;
$screen-sm: 641px;
$screen-md: 1199px;
$mac-port: 768px;
$mac-land: 1024px;
$min-width-on-scaled-down: 1200px;
$base-font-size: 1rem;

// Line height
$line-height-base: 1.6;
// Other Sizes
$base-spacing: $line-height-base * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

/*
For naming convention of color variable I have used this site
https://www.htmlcsscolor.com/hex/262928
we have to place the hex code of color after the last slash (/), It give a nice name for the color
*/

//BaseColorsStatsHere

$ny-pink: #FF3B30; //#de7e73;
$deep-sky-blue: #2474dc; //#03a6ff;
$islamic-green: #00A41C; //#262928;

//BaseColorsEndsHere

//GreyColorsStartsHere
$black: #000000;
$dark-gray: #4D4D4D;
$dim-gray: #8E8E93; //#6a6a6a;
$silver: #C7C7CC; //#bababa;
$lavender-gray: #D1D1D6;
$white-smoke: #E5E5EA; //#f3f1f1;
$lavender: #EFEFF4;
//$polo-blue: #79a3c2;
$white: #ffffff;
//GreyColorsEndsHere


//PluginsColorsStartsHere
//$text-color-white: #ffffff; $white
//$border-color-white: #ffffff; $white
//$bg-color-white: #ffffff; $white
//$shadow-color-white: #ffffff; $white

//$text-color-racing-green: #00A41C; $islamic-green
//$border-color-racing-green: #00A41C; $islamic-green
//$bg-color-racing-green: #00A41C; $islamic-green

//$text-color-dim-gray: #8E8E93; $dim-gray
//$bg-color-dim-gray: #8E8E93; $dim-gray

//$border-color-silver: #C7C7CC; $silver
//$bg-color-silver: #C7C7CC; $silver

//$bg-color-white-smoke: #E5E5EA; $white-smoke
//$border-color-white-smoke: #E5E5EA; $white-smoke
//$shadow-color-white-smoke: #E5E5EA; $white-smoke

//$text-color-deep-sky-blue: #2474dc; $deep-sky-blue
//$bg-color-deep-sky-blue: #2474dc; $deep-sky-blue

$polo-blue: #79a3c2;
//$text-color-polo-blue: #79a3c2; $polo-blue
//$bg-color-polo-blue: #79a3c2; $polo-blue

//$text-color-ny-pink: #FF3B30; $ny-pink
//$bg-color-ny-pink: #FF3B30; $ny-pink

// header
//$nav-header-bg-color: #FFFFFF; $white
//$nav-header-bg-light-color: #E5E5EA; $white-smoke

// navigation links
//$nav-header-link-color: #00A41C; $islamic-green
//$nav-header-link-active-color: #2474dc; $deep-sky-blue
//$nav-border-color: #C7C7CC; $silver

//TNS Links
//$tns-link-color: #8E8E93; $dim-gray
//PluginsColorsEndsHere
