//screen sizes
$max-container: 480px;
$screen-xs: 640px;
$screen-sm: 641px;
$screen-md: 1199px;
$mac-port: 768px;
$mac-land: 1024px;
$min-width-on-scaled-down: 1200px;
$base-font-size: 1rem;

// Line height
$line-height-base: 1.6;
// Other Sizes
$base-spacing: $line-height-base * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$ffOpenSans: "Open Sans", sans-serif;
/*
For naming convention of color variable I have used this site
https://www.htmlcsscolor.com/hex/262928
we have to place the hex code of color after the last slash (/), It give a nice name for the color
*/

$white: #FFFFFF;
$textColor: #484848;//#484849;//#000000; 0.7
$lightGray: #B9B9B7;
$green: #2DB148;
$greyText: #3F3D56;
$lightBg: #F2F2F4;
$secondary: #4285F4;
$greyC4: #C4C4C4;
$primary: #E70D4D;
$black: #000000;
$yellow: #FFCC2A;